In [4]:
# iterate string, list, dictionary, every object

In [5]:
#for loop
mynos = [1,2,3]
for no in mynos:
    print(no)

1
2
3

In [1]:
list1 = [(1,2),(3,4),(5,6)]
for item in list1:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [2]:
list1 = [(1,2),(3,4),(5,6)]
for item in list1:
    print(item[0])

1
3
5

In [20]:
   
for (x,y) in list1:
    print(x)
    print(y)

1
2
3
4
5
6

In [21]:
d = {'k1':1,'k2':2}
for item in d:
    print(item)

k1
k2

In [30]:
d = {'k1':1,'k2':2}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)

In [3]:
d = {'k1':1,'k2':2}
for key,value in d.items():
    print(value)
    print(key)

1
k1
2
k2

In [6]:
string  = "Hello"
for s in string:
    print(s)

H
e
l
l
o

In [34]:
#while loop
i = 0
while i <= 10:
    print("Hi")
    i = i + 1

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [ ]:
# while, break ,continue, pass

In [37]:
#pass -Does nothing at all
item = [1,2,3]
for i in item:
    #comment
    pass
print("end")

end

In [44]:
mystring = "sammy"
for letter in mystring:
    if letter == "a":
        print("a")
        #continue

a

In [45]:
#operators

In [46]:
#range function
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [47]:
#start from
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [48]:
#jump 
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [50]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [51]:
#enumerate

In [54]:
index = 0
string = "Meon"
for letter in string:
    print("At index {} we have letter {}".format(index, letter))
    index += 1
# here we need index varaible

At index 0 we have letter M
At index 1 we have letter e
At index 2 we have letter o
At index 3 we have letter n

In [55]:
string1 = "Meon"
for item in enumerate(string1):
    print(item)

(0, 'M')
(1, 'e')
(2, 'o')
(3, 'n')

In [56]:
#here we get tuples

In [57]:
string1 = "Meon"
for index,letter in enumerate(string1):
    print(index)
    print(letter)
    print("\n")

0
M


1
e


2
o


3
n

In [5]:

#zip function
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [6]:
list(zip(mylist1,mylist2,mylist3))  #got tuples

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [63]:
#find in list
# in keyword
'x' in [1,2,3]

False

In [64]:
'a' in 'world'

False

In [65]:
"k1" in {"k1":20}

True

In [66]:
d = {"k1":1,"k2":2}
"k1" in d.keys()

True

In [67]:
#min, max functions
mylist = [100,200,405,320]
min(mylist)

100

In [8]:
#random library
from random import shuffle

In [9]:
mylist = [1,2,3,4,5,6,7]
shuffle(mylist)

In [70]:
mylist

[6, 3, 1, 4, 2, 7, 5]

In [71]:
#get random integers
from random import randint

In [72]:
randint(0,10)

7

In [74]:
#getting input from user
result = input("Enter a number : ")
print(result)

Enter a number : 5
5

In [10]:
# list comprehension
# old way
mystring = "Hello"
myLetterList = []
for letter in mystring:
    myLetterList.append(letter)
print(myLetterList)

['H', 'e', 'l', 'l', 'o']

In [76]:
mylist = [letter for letter in mystring]
mylist

['H', 'e', 'l', 'l', 'o']

In [80]:
mylist1  = [x.upper() for x in "word"]

In [81]:
mylist1

['W', 'O', 'R', 'D']

In [84]:
#get only even number
mylist = [x for x in range(0,11) if x % 2 == 0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [85]:
celcius = [0,10,35.5,50]
farenhiet = [((9/5)*temp + 32) for temp in celcius]
farenhiet

[32.0, 50.0, 95.9, 122.0]

In [86]:
#if-else in list comprehension
result = [x if x%2==0 else 'Odd' for x in range(0,11)]
result

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [92]:
#nested loops
mylist = []
for x in [1,2,3]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [89]:
mylist = [x*y for x in [1,2,3] for y in [100,200,300]]
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]