In [2]:
# string are ordered sequence
# can do indexing ,slicing, spliting
'meon'

'meon'

In [3]:
'I ma an indian'

'I ma an indian'

In [4]:
"I'm a person"

"I'm a person"

In [5]:
print("pakpak")

pakpak

In [8]:
print("meon \npakpak")
print("meon \tpakpak")

meon
pakpak
meon 	pakpak

In [9]:
len("meon")

4

In [10]:
len("I am")

4

In [11]:
#indexing and slicing
mystring = "hello world"
mystring[0]

'h'

In [12]:
mystring[-2]

'l'

In [14]:
mystring[9]

'l'

In [15]:
mystring = "pakpakmeon"

In [16]:
mystring[6:]

'meon'

In [17]:
mystring[:6]

'pakpak'

In [18]:
mystring[6:8]

'me'

In [19]:
#all the way to the begining to end
mystring[::]

'pakpakmeon'

In [20]:
mystring[::2] #jump step size 2

'pkamo'

In [22]:
mystring[2:7:2]  #start from 2, jump 2 and stop 7

'kam'

In [23]:
# reverse string
mystring[::-1]

'noemkapkap'

In [24]:
mystring = "Hello  World"
mystring[-3]

'r'

In [25]:
"tinker"[1:4]

'ink'

In [26]:
# properties and methods
#immutable
name = "Sam"
# name[0] ="P" error

TypeError: 'str' object does not support item assignment

In [33]:
name

'pak'

In [34]:
name = "pak"

In [35]:
letter= 'z'

In [36]:
letter * 10

'zzzzzzzzzz'

name

In [41]:
name.upper()

'PAK'

In [42]:
%config IPCompleter.greedy=True

In [44]:
print("hi "+name)

hi pak

In [45]:
#formatting
print("My name is {} and i live in {}".format(name, "New Delhi"))

My name is pak and i live in New Delhi

In [48]:
print("My name is {1} and i live in {0}".format(name, "New Delhi"))

My name is New Delhi and i live in pak

In [49]:
print("My name is {n} and i live in {a}".format(n=name, a="New Delhi"))

My name is pak and i live in New Delhi

In [56]:
#float precision
#{value:width.precision}
r = 100/777
print("{y=1.3f}".format(y=r))

KeyError: 'y=1'

In [58]:
#new formatting style
print(f'My name is {name} and i live in New Delhi'))

SyntaxError: invalid syntax (<ipython-input-58-184943797054>, line 2)