In [1]:
#Sets- unordered collection of unique elements

In [2]:
myset = set()

In [3]:
myset

set()

In [4]:
myset.add(1)

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

In [7]:
myset.add(2)

In [8]:
myset

{1, 2}

In [9]:
###cannot add repetitive objects

In [10]:
#cast a list to set- unique values

In [12]:
list1 = [1,2,2,3,4,5,6]

In [13]:
set1 = set(list1)

In [14]:
set1

{1, 2, 3, 4, 5, 6}

In [15]:
set('Parallel')

{'P', 'a', 'e', 'l', 'r'}

In [16]:
set("Mississippi")

{'M', 'i', 'p', 's'}

In [21]:
set([1,1,2,3])

{1, 2, 3}